{% extends "prototype/base.html" %}
{% block title %}식신 장안문 맛집 20{% endblock %}
{% block weather %}{{weather|safe()}}{% endblock %}
{% block additional_head %} 
    <style>
        th  {text-align: center;}
    </style>
{% endblock %}
{% block subtitle %}식신 장안문 맛집 20{% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <th style="width: 10%;">이미지</th>
                    <th style="width: 20%;">상호명</th>
                    <th style="width: 10%;">평점</th>
                    <th style="width: 30%;">위치</th>
                    <th style="width: 30%;">메뉴</th>
                </tr>
                {% for siksin in siksin_list %}
                <tr>
                    <td style="text-align: center;"><img src="{{siksin.img}}" height="40"></td>
                    <td style="text-align: center;">{{siksin.title}}</td>
                    <td style="text-align: center;">{{skisin.score}}</td>
                    <td style="text-align: center;">{{siksin.location}}</td>
                    <td style="text-align: center;">{{siksin.menu}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}